@font-face {
    font-family: japanBrush;
    src: url('../assets/JAPANBRUSH.ttf');
}

@font-face {
    font-family: makise;
    src: url('../assets/Makise.ttf');
}

@font-face {
    font-family: hongKongHustle;
    src: url('../assets/hongkonghustle.ttf');
}

@font-face {
    font-family: akira;
    src: url('../assets/Akira.otf');
}

@font-face {
    font-family: qualy;
    src: url('../assets/qualy.ttf');
}

@font-face {
    font-family: abnes;
    src: url('../assets/abnes.ttf');
}

@font-face {
    font-family: qualy;
    src: url('../assets/qualy.ttf');
}