@font-face {
    font-family: japanBrush;
    src: url('../assets/fonts/JAPANBRUSH.ttf');
}

@font-face {
    font-family: makise;
    src: url('../assets/fonts/Makise.ttf');
}

@font-face {
    font-family: hongKongHustle;
    src: url('../assets/fonts/hongkonghustle.ttf');
}

@font-face {
    font-family: akira;
    src: url('../assets/fonts/Akira.otf');
}

@font-face {
    font-family: qualy;
    src: url('../assets/fonts/qualy.ttf');
}

@font-face {
    font-family: abnes;
    src: url('../assets/fonts/abnes.ttf');
}

@font-face {
    font-family: qualy;
    src: url('../assets/fonts/qualy.ttf');
}