#select {
    background: #222;
    /* min-height: 100vh; */
}

.selectContainer {
    display: grid;
    /* grid-gap: 2em; */
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(1, 100%);
    /* grid-template-rows: 350px; */
}

.selectContainer div {
    height: 325px;
    /* match height of grid-template-rows - otherwise padding */
    /* background: whitesmoke; */
}

.selectContainer div:hover {
    background-color: #fafafa;
    opacity: 0.5;
}

.selectContainer div h2 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: abnes;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#about {
    background-image: url(../assets/images/floor.jpeg);
    background-size: cover;
    background-position: center;
}

#code {
    background-image: url(../assets/images/window.jpg);
    background-size: cover;
    background-position: center;
}

#graphic_design {
    background-image: url(../assets/images/light.jpg);
    background-size: cover;
    background-position: bottom;
}

#photography {
    background-image: url(../assets/images/red.jpg);
    background-size: cover;
    background-position: top;
}

.from-left {
    /* grid-column: 1 / 2; */
    transform: translateX(-50%);
}

.from-right {
    /* grid-column: 1 / 2; */
    transform: translateX(50%);

}

.from-left, 
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0
}

.from-left.appear, 
.from-right.appear {
    transform: translateX(0);
    opacity: 1
}

/* .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
} */

/* .slide-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.slide-in.appear {
    opacity: 1;
} */

@media only screen and (max-width: 500px) {
    #about h2 {
        font-size: 2rem;
        top: 50%;
    }
    #code h2 {
        font-size: 2rem;
        top: 50%;
    }
    #graphic_design h2 {
        font-size: 1.4rem;
        top: 50%;
    }
    #photography h2 {
        font-size: 1.3rem;
        top: 50%;
    }
}